*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}*
html,body{
    overflow-x: hidden;
}

.nav{
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.5);
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 12%;
}
.nav .logo{
    margin-top: 4px;
}
nav img{
    width: 4em;    
}
.menu-link{
    margin-top: 0.2%;
    text-align: right;
}
.menu-link ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 3em;    
}
.menu-link ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-link ul li a::after{
    content: '';
    width: 0%;
    height: 5%;
    background: #f6f5f4;
    display: block;
    margin: auto;
    transition: 0.75s;
}
.menu-link ul li a:hover::after{
    width: 100%;   
}
.section-01{
    height: 120vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.titre-01{
    margin-left: 6%;
}
.titre-01 h1{
    color: rgba(132, 72, 0, 0.75);
    font-size: 2em ;
    font-family: "Mooli" , sans-serif;
    text-decoration: underline;
}
.horaire{
    margin-top: 3%;
    margin-left: 13%;
    display: flex; 
}
.horaire h4{
    font-size: 1em;
    text-decoration: underline;
    font-family: sans-serif;
}
.horaire p{
    font-size: 0.9em;
    margin-top: 0.8%;
}
.img-01{
    margin-top: 2%;
    margin-left: 12%;

}
.img-01 img{
    height: 76vh;
    width: 90%;
    border-radius: 25px;
}
.text-01{
    margin-top: 3%;
    margin-left:25% ;
    max-width: 60%;
}
.text-01 p{
    font-size: 1em;
    font-family: "Mooli" , sans-serif;
}

.section-02{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.titre-02 h1{
    color: #9A4D06;
    font-size: 40px;
    text-decoration: underline;
    margin-left: 4%;
    font-family:sans-serif;
}
.map{
    margin-top:5%;
    border: 5px solid rgb(127, 57, 0);
}
.map iframe{
    width:100% ;
}
.section-03{
    height: 125vh;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.titre-03 h2{
    color: #8D510A;
    font-family: "Mooli" , sans-serif;
    text-align: center;
    text-decoration:underline;
    font-size: 40px;
}
.text-03{
    max-width: 90%;
    margin-left: 10%;
}
.text-03 p{
    margin-top: 1.8%;
    font-size: 20px;
    font-family: "ABeeZee",sans-serif;
}
.contact0{
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-top: 5%;
    height: 80vh;
}
.contact-img img{
    margin-left: 5%;
    height: 96%;
    width: 87%;
    border-radius: 20px;
    border: 3px solid #8D510A;
}
.contact-01{
    margin-left: 6%;
    width: 40vw; 
    background: rgba(172, 82, 0, 0.56);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-step input{
    width: 90%;
    margin: 5%;
    height: 6vh;
    border-radius: 20px;
    background-color: rgba(177, 111, 34, 0.94);
    border: 0;
    outline: none;
    color: #fff;
    
}
.input-step input::-webkit-input-placeholder {
    color: #ffff;
    padding-left: 5%;
    font-family: "ABeeZee",sans-serif ;
  }
  
  .input-step input:-ms-input-placeholder {
    color: #f8f4f4;
  }
  
  .input-step input::-ms-input-placeholder {
    color: #fff;
  }
  
  .input-step input::placeholder {
    color: #fff;
  }

.btn-01 .button {
    margin-left: 33%;
    background-color: #583101;
    border-radius: 20px;
    padding: 2% 9%;
    font-family: "ABeeZee",sans-serif ;
    border: 0;
    width: 30%;
}

.btn-01 .button:hover{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    
}
.footer{
    
    height: 70vh;
    font-size: 100%;
   
   }
.dark{
    height: 100%;
    background-color: black;
    background-size: cover;
    border-radius: 20px;
}
.pr-step{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 5%;   
}

.logo2{
    margin-top: 1%;
    margin-left: 2%;
}
.logo2 img{
    width: 4em;    
}
.menu-footer{
    margin-top: 0.2%;

}
.menu-footer ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 3em;    
}
.menu-footer ul li a{
    text-decoration: none;
    color: #fff;
}
#ligne-horizontale {

    border-top: 0.1em solid #e3d6d6;
  }
  

.dx-step{
    height: 50%;
    display: flex;
    justify-content:center;
    justify-content: space-around;
    color: #fff;
}
.ligne-verticale {
    border-left: 0.2em solid #fbf8f8;
    height: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 9%;
   
}
.contact h4{
    
    font-size: 26px ;
}
.contact p{
    margin-top: 10%;
}
.reseaux{
    display: flex;
    flex-direction: column;
   padding-top: 8%;
}
.reseaux h4{
    font-size: 26px ;
}
.reseaux img{
    margin-top: 10%;
}
.local{
    display: flex;
    flex-direction: column;
   padding-top: 5%;
}
.local img{
    height: 10vh;
    width: 20%;
    margin-left: 10%;
}
.local P{
    margin-top: 3%;   
    margin-right: 10%;
    padding-right: 20%;
}

.nav  .fa{
    display: none;
}

@media (max-width: 767px){
    .section-01{
        height: 80vh;
        margin-top: 20%;
    }
    .menu-link ul li{
        display: block;
        padding: 1em;
         
        
    }
    .menu-link{
        position: absolute;
        background-color: #4a4a4a;
        height: 100vh;
        width: 50vw;
        top: 0;
        right: -400px;
        text-align: center;
        z-index: 2;
       transition: 1s;

    }
    .nav .menu-link .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 2em;
        margin-right:80% ;
        
    }
    .nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 2em;
    }
    
    .img-01 img{
        height: 50vh;
    }
    .text-01{
        max-width: 80%;
        margin-left: 13%;
    }
    .section-02{
        margin-top: 15%;
        height: 55vh;
    }
    .map iframe{
        height: 40vh;
    }
    .section-03{
        height: 100vh;
    }
    .titre-03 h2{
        font-size: 35px;
        margin-bottom: 5%;
    }
    .text-03 p{
        font-size: 23px;
    }
    .contact0{
        height: 60vh;
    
    }
    .contact-img img{
       display: none;
    }
    .contact-01{ 
        width: 80vw; 
        margin-left: 10%;
        
    }
    .footer{
        height: 30vh;
        margin-top: 20%;
    }
    .pr-step{
        padding: 0.1% ;
        

        
    }
    .menu-footer{
        margin-top: 10%;
        margin-right:2%;

    }
    .logo2 img{
        width: 5em;    
    }
    #ligne-horizontale {
        top: 200px;
    }
    .ligne-verticale{
        display: flex;
        justify-content: space-around;
    }
    
    .menu-footer ul li{
        padding: 0 ; 
        font-size: 70%; 
        
        
    }
    .contact{
        padding-left: 4%;
        padding-top: 5%;
        padding-right: 10%;
    }
    .contact h4{
        font-size: 78.37%;
        
    }
    
    
    .reseaux{
       padding-top: 9%;
       padding-left: 4.5%;
    }
    .reseaux h4{
        font-size: 0.75em ;
    }

    .reseaux img{
        width: 90%;
        margin-left: 3%;
    }
    .local{
       padding-top: 1%;
       max-width: 80%;
       
    }
    .local img{
        height: 5vh;
        width: 20%;
       margin-left: 40%;
        margin-top: 10%;
    }
    .local P{
        margin-top: 10%;   
        margin-right: 0;
        padding-right: 0;
        margin-left: 10%;
        max-width: 90%;
        
    }

   


}