*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}*
html,body{
    overflow-x: hidden;
}
.section-1{
    
    height: 78vh;
    font-size: 100%;
}

.fa{
    display: none;
}


.nav{
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, 0.5);
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 12%;
}
.nav .logo{
    margin-top: 4px;
}
nav img{
    width: 4em;    
}
.menu-link{
    margin-top: 0.2%;
    text-align: right;
}
.menu-link ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 3em;    
}
.menu-link ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-link ul li a::after{
    content: '';
    width: 0%;
    height: 5%;
    background: #f6f5f4;
    display: block;
    margin: auto;
    transition: 0.75s;
}
.menu-link ul li a:hover::after{
    width: 100%;   
}

.part1{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10%;
    
}
.section-1 .part1 .pr-photo{
   
    display: flex;
    justify-content: flex-start;
    margin-right: 1em;
    width: 70%;
    padding-left: 2%;
   

      
}
.pr-photo img{
    max-width: 100%; 
    height: 58vh;
    border-radius: 30px;
    
}

.histoire{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;   
    max-width: 45%;
    
    
}
.histoire p{   
    height: 40%;
    font-size: 2.5em;
    font-family: 'Alex Brush', sans-serif; 
    
}
.section-1 a button{
    background-color: #6c6c6c; 
    border: none;
    color: white; 
    padding: 10px 20px ; 
    text-align: center; 
    text-decoration: none;
    font-size: 20px;
    margin-left: 39em;
    border-radius: 5px; 
    
    
}

.section-1 a button:hover{
    background-color: #fff;
    color: #000000;
    border:2px solid #010101;
}
/*-------------------------------- partie 2 ---------------------------------------*/
.section-2{
    height: 100vh;
    font-size: 100%;
}
.titre1{
    background-color: #5f5e5c;
    height: 4rem;
    text-align: center;
    border-radius: 25px;
    
}
.titre1 h2{
    font-family: 'ABeeZee', sans-serif;
    padding-top: 1.2%;
}

.img1{
   height: 60vh; 
    display: flex;
    justify-content: space-between;
    padding: 10%;
    margin: auto;
    margin-top: -8%;

}
.img1  img{
    height: 85vh;
}
 .dx-img-res{
    display: flex;
    justify-content: space-between;
}






/* -------------partie 3---------------- */
.section-3{
    height: 100vh;
    font-size: 100%;
}
.titre2{
    background-color: #5f5e5c;
    height: 4rem;
    text-align: center;
    border-radius: 25px;  
}
.titre2 h2{
    font-family: 'ABeeZee', sans-serif;
    padding-top: 1.2%;
}
.img2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 10%; 
}
.img2 img{
    height: 50vh;
    border-radius: 30px;
}
/* ------------------partie 3---------------- */
.section-4{
    height: 100vh;
    font-size: 100%;
    display: flex;
    flex-direction: column;
   
   
}
.titre3{
    
    background-color: #5f5e5c;
    height: 4rem;
    text-align: center;
    border-radius: 25px; 
     
}
.titre3 h2{
    font-family: 'ABeeZee', sans-serif;
    padding-top: 1.2%;
}
.art{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
    
}

.name-art1{
    
    text-align: center;
    margin-top: 2%;    
}
.name-art1 h4{
    font-size: 50px;
    font-family: 'Alex Brush', sans-serif ;  
}
.img-art1{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
}
.img-art1 img{
    height: 35vh;
    border-radius: 15px;
}

.text-art1 p{
    text-align: center;
    margin-left: 20%;
    margin-top: 3%;
    max-width: 60%;
    font-size: 1.3em;
    font-family: "Mooli" , sans-serif;
}
.name-art2{
   
    text-align: center;
    margin-top: 2%;    
}
.name-art2 h4{
    font-size: 50px;
    font-family: 'Alex Brush', sans-serif ;  
}
.img-art2{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
}
.img-art2 img{
    height: 40vh;
    border-radius: 15px;
}

.text-art2 p{
    text-align: center;
    margin-left: 20%;
    margin-top: 3%;
    max-width: 60%;
    font-size: 1.3em;
    font-family: "Mooli" , sans-serif;
}


/* ---------------------------------------------footer---------------------------- */
.footer{
    
    height: 70vh;
    font-size: 100%;
   
   }
.dark{
    height: 100%;
    background-color: black;
    background-size: cover;
    border-radius: 20px;
}
.pr-step{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 0 5%;   
}

.logo2{
    margin-top: 1%;
    margin-left: 2%;
}
.logo2 img{
    width: 4em;    
}
.menu-footer{
    margin-top: 0.2%;
    text-align: right;
}
.menu-footer ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 3em;    
}
.menu-footer ul li a{
    text-decoration: none;
    color: #fff;
}
#ligne-horizontale {

    border-top: 0.1em solid #e3d6d6;
  }
  

.dx-step{
    height: 50%;
    display: flex;
    justify-content:center;
    justify-content: space-between;
    color: #fff;
}
.ligne-verticale {
    border-left: 0.2em solid #fbf8f8;
    height: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10%;
   padding-top: 9%;
   
}
.contact h4{
    
    font-size: 26px ;
}
.contact p{
    margin-top: 10%;
}
.reseaux{
    display: flex;
    flex-direction: column;
   padding-top: 8%;
}
.reseaux h4{
    font-size: 26px ;
}
.reseaux img{
    margin-top: 10%;
}
.local{
    display: flex;
    flex-direction: column;
   padding-top: 5%;
}
.local img{
    height: 10vh;
    width: 20%;
    margin-left: 10%;
}
.local P{
    margin-top: 3%;   
    margin-right: 10%;
    padding-right: 20%;
}
.section-5{
    height: 90vh;
    margin-top: 3%
}
.section-5 h1{
    font-size: 4em;
    text-decoration: underline;
    font-family:cursive;
}
.container-faq {
    max-width: 50%;
    margin-left: 10%;
}
    
    .accordion .accordion-item {
      border-bottom: 1px solid #e5e5e5;
    }
    
    .accordion .accordion-item button[aria-expanded='true'] {
      border-bottom: 1px solid #353535;
    }
    
    .accordion button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: #7288a2;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
    }
    
    .accordion button:hover,
    .accordion button:focus {
      cursor: pointer;
      color: #4a4a4a;
    }
    
    .accordion button:hover::after,
    .accordion button:focus::after {
      cursor: pointer;
      color: #121212;
      
    }
    
    .accordion button .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    
    .accordion button .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
    }
    
    .accordion button .icon::before {
      display: block;
      position: absolute;
      content: '';
      top: 9px;
      left: 5px;
      width: 10px;
      height: 2px;
      background: currentColor;
    }
    .accordion button .icon::after {
      display: block;
      position: absolute;
      content: '';
      top: 5px;
      left: 9px;
      width: 2px;
      height: 10px;
      background: currentColor;
    }
    
    .accordion button[aria-expanded='true'] {
      color: #d6680d;
    }
    .accordion button[aria-expanded='true'] .icon::after {
      width: 0;
    }
    .accordion button[aria-expanded='true'] + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
    .accordion .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
    }
    .accordion .accordion-content p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }

    .nav  .fa{
        display: none;
    }


@media (max-width: 767px){
    .section-1{
        height: 100vh;
        font-size: 100%;
    }
    
    .menu-link ul li{
        display: block;
        padding: 1em;
         
        
    } 
    .menu-link{
        position: absolute;
        background-color: #4a4a4a;
        height: 100vh;
        width: 50vw;
        top: 0;
        right: -400px;
        text-align: center;
        z-index: 2;
       transition: 1s;

    }
    .nav .menu-link .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 2em;
        margin-right:80% ;
        
    }
    .nav .fa{
        display: block;
        color: #000000;
        margin: 10px;
        font-size: 2em;
    }
    
    
    .part1{
        display: flex;
        flex-direction: column;
        margin-top: 25%;
        
    }
    .section-1 .part1 .pr-photo{
        padding-left: 0;
        margin-right: 0;
        width: 100%;
          
    }
    .pr-photo img{
        width: 100vw; 
        height: 50vh;
        border-radius: 20px; 
    }
    .histoire{
        display: flex;
        justify-content: center;
        margin-right: 0;   
        max-width: 90%;
        padding-left: 3%; 
    }
    .histoire p{      
        font-size: 2.3em;
    }
    .section-1 a button{
        padding: 10px 30px ; 
        font-size:1.4em;
        margin-left:5em;
        border-radius: 5px;    
    }
    .section-2{
        margin-top: 10%;
        height: 100vh;
        
    }
    .titre1{
       width: 100vw;
        height: 3rem;   
    }
    .titre1 h2{
        padding-top: 3%;
    }
    .img1{
        display: flex;
        flex-direction: column;
        
    }
    
    .img1 img{
        height: 30vh;
    }
    
    
    .section-3{
        height: 110vh;
    }
    .titre2{
        height: 3rem;
    }
    .titre2 h2{
        padding-top: 2.8%;
    }
    .img2{
        display: flex;
        flex-direction: column;     
    }
    
    .img2 img{
        height: 30vh;
        width: 100vw;
        
    }
    .section-4{
        height: 100vh;
        font-size: 100%;
        display: flex;
        flex-direction: column;
       
       
    }
    .titre3{
        height: 3rem;
         
    }
    .titre3 h2{
        padding-top: 2%;
    }
  .section-4{
        height: 150vh;
    }

    .art{
        margin-top: 5%; 
        display: flex;
        flex-direction: column;
    }
    
    .name-art1{
        
        
        margin-top: 2%;
        display: flex;
        justify-content: left;
        margin-left: 4%;
           
    }
    .name-art1 h4{
        font-size: 3em;
       
    }
    
    .img-art1 img{
        
        width: 100vw;
        
    }
    
    .text-art1 p{
        text-align: center;
        margin-left: 0;
        margin-top: 6%;
        max-width: 100%;
        font-size: 1.3em;
        
        
    }
    .name-art2{
       
        margin-top: 2%;
        display: flex;
        justify-content: left;
        margin-left: 4%;
        
    }
    .name-art2 h4{
        font-size: 2.5em;
    }
    
    .img-art2 img{
        width: 100vw;
        border-radius: 20px;
    }
    
    .text-art2 p{
        text-align: center;
        margin-left: 0;
        margin-top: 6%;
        max-width: 100%;
        font-size: 1.3em;
    
    }
    
    .container-faq {
        max-width: 80%;
        margin-left: 10%;
    }
    .footer{
        height: 35vh;
        margin-top: 20%;
    }
    .pr-step{
        padding: 0.1% ;
        

        
    }
    .menu-footer{
        margin-top: 10%;
        margin-right:2%;

    }
    .logo2 img{
        width: 5em;    
    }
    #ligne-horizontale {
        top: 200px;
    }
    .ligne-verticale{
        display: flex;
        justify-content: space-around;
    }

    .menu-footer ul li{
        padding: 0 ; 
        font-size: 70%; 
       
        
    }
    .contact{
        padding-left: 4%;
        padding-top: 5%;
        padding-right: 10%;
    }
    .contact h4{
        font-size: 78.37%;
        
    }
    
    
    .reseaux{
       padding-top: 9%;
       padding-left: 4.5%;
    }
    .reseaux h4{
        font-size: 0.75em ;
    }

    .reseaux img{
        width: 90%;
        margin-left: 3%;
    }
    .local{
       padding-top: 1%;
       max-width: 80%;
       
    }
    .local img{
        height: 5vh;
        width: 20%;
       margin-left: 40%;
        margin-top: 10%;
    }
    .local P{
        margin-top: 10%;   
        margin-right: 0;
        padding-right: 0;
        margin-left: 10%;
        max-width: 90%;
        
    }
   
      
      

}